/*general*/
* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
html {
  scroll-behavior: smooth;
}

p {
  color: rgb(255, 255, 255);
}
h1 {
  color: rgb(255, 255, 255);
}
h2 {
  color: rgb(243, 245, 248);
  font-size: 50px;
}
body {
  background-color: #000000fd;
}

.container {
  padding: 10px 0%;
  @media only screen and (min-width: 600px) {
    padding: 10px 10%;
  }
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

nav ul li {
  display: inline-block;
  list-style: none;
  margin: 30px 20px;
}

.logo {
  font-size: 30px;
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  text-decoration: rgb(141, 194, 241);
  font-size: 18px;
  transition: background-color 0.3s, color 0.3s;
}

a:hover {
  color: rgb(232, 209, 248);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

.active {
  color: rgb(232, 209, 248);
  text-decoration: underline;
  text-underline-offset: 1rem;
}

#profile {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2em;
  min-height: 80%;
  background-image: url("assets/minimal.png"); 

  @media only screen and (min-width: 600px) {
    flex-direction: row;
  }
}

#about {
  margin: 3em 0;
  .about_title {
    text-align: center;
    margin-bottom: 1em;
  }

  .about_image {
    width: 400px;
    height: auto;
  }

  .about_content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3em;

    @media only screen and (min-width: 1000px) {
      flex-direction: row;
    }

    .me-icon,
    .experiance-icon {
      width: 40px;
      height: 40px;
    }

    .about_text_container {
      max-width: 1000px;
    }

    .about_content_1,
    .about_content_2 {
      display: flex;
      align-items: flex-start;
      gap: 1em;
      margin: 2em 0;

      .about_content_title {
        margin-bottom: 1em;
      }
    }
  }
}

#skills {
  margin: 3em 0;
  .skill_title {
    text-align: center;
  }

  .skill {
    margin: 1.5em 0;
    display: flex;
    flex-direction: column;
  }

  .skill-info {
  }

  .skill-name {
    font-weight: bold;
    font-size: 20px;
    margin-left: 0%;
    color: #ffffff;
  }

  .skill-description {
    padding: 0.5em 0;
    color: #888;
    font-size: 12px;
    margin-bottom: 5px;
  }

  .skill-progress {
    background-color: #f0f0f0;
    height: 24px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
  }

  .skill-bar {
    color: black;
    font-weight: bold;
    text-align: center;
    background-color: #4caf50;
    height: 100%;
  }
}

#projects {
  margin: 3em 0;
  .projects_title {
    text-align: center;
  }

  .gallery {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 1em;

    padding: 2em 0;
    @media only screen and (min-width: 600px) {
      flex-direction: row;
    }
  }

  .photo {
    position: relative;
    width: 600px;
    height: 600px;
    overflow: hidden;
  }

  .photo img {
    width: 100%;
    height: 30%;
    object-fit: cover;
    transition: transform 0.3s;
  }

  .photo:hover img {
    transform: scale(1.2);
  }

  .photo .description {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* max-width: 500px; */
    padding: 1em;
    color: rgb(8, 5, 8);
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .photo:hover .description {
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
  }
}
/*
	.image_p{
		width: 300px;
		height: 200px;
	}
	.project_text{
		position: absolute;
		left: 800px;
		top: 3000px;
	}
	.image_p1{
		width: 300px;
		height: 200px;
	}
	.imgpro2{
		float: right;
	}
	.image_p2{
		width: 300px;
		height: 200px;
	}
	.project_text1{
		position: absolute;
		left: 0px;
		top: 3100px;
	}
	.image_p3{
		width: 300px;
		height: 200px;
	}
	.image_p4{
		width: 300px;
		height: 200px;
	}
	.image_p5{
		width: 300px;
		height: 200px;
	}
	.image_p6{
		width: 300px;
		height: 200px;
	}
	.image_p7{
		width: 300px;
		height: 200px;
	}
	.image_p8{
		width: 300px;
		height: 200px;
	} */

#contact {
  margin: 3em 0;
  .contact_title {
    text-align: center;
  }
  .contact_text {
    font-size: 2em;
  }
  .contact_content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
  }
  .contact_title {
    margin: 1em 0;
  }

  .contact_item {
    display: flex;
    align-items: center;
    margin: 0.5em 0;
    gap: 1em;
  }

  .email_icon {
    width: 40px;
  }
  .linkedIn_icon {
    width: 30px;
  }
}
